# Maxfiy ma'lumotlar
.env

# Sessiya fayllari
*.session
*.session-journal

# Python vaqtinchalik fayllari
__pycache__/
*.py[cod]
*.pyo
*.pyd
*python*-debug.log
*python*.log

# Muhit papkalari
.venv/
venv/
ENV/
env/
pip-log.txt
pip-delete-this-directory.txt
.webassets-cache

# Log fayllar
*.log
logs/

# IDE sozlamalari (VSCode)
.vscode/

whitelist_ids.json
